* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #48934d;
    color: white;
    padding: 15px 30px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background-color: #f1f8e9;
}

/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* INFO */
.info {
    padding: 40px;
    background-color: #e8f5e9;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #48934d;
    color: white;
}

body {
    background-color: #a5fcad;
}